html {
    font-family: Arial, Helvetica, sans-serif;
    background: #212121;
    margin: 0;
    padding: 0;
  }
  
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #212121;
}

.container {
  width: 100%;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: thick;
  color: white;
  margin: 1rem 0;
  text-align: center;
}

h2 {
    
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
}

.card {
  min-width: 300px;
  min-height: 600px;
  background:#1DB954;
  color: whitesmoke;
  margin: 20px;
  
  /*align-items: center;*/
  /*justify-content: center;*/
  
  word-wrap: normal;
}

.card-header {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.progress-bar {
  max-width: 200px;
  align-items: bottom;
}