{% extends 'base.html' %}

{% block card_format %}
<div class="col-md-6">
  <div class="card">
    <img src="{{ stat['url'] }}" class="card-img-top" height="300px"> 
    <h2 class ="card-title">{{ stat['statname'] }}: {{ stat['percentage'] }}</h2>
    <div class="card-body"> 
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:{{ stat['percentage'] }};" aria-valuenow="{{ stat['percentage'] }}" aria-valuemin="0" aria-valuemax="100"></div> 
      </div>
      {% for song_str in stat['strings'] %}
      <li>
        {{ song_str }}
      </li>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}