{% include 'create.html' %}
<!doctype html>
<html>
  
<head>
  <title>spotiFYE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="./../static/style.css">
</head>

<body class="container">
  <h1>spotiFYE</h1>
    {% for idx in range(4) %} <!-- for i in range (0,10,2)-->
      {% if idx % 2 == 0 %}
      <div class = "row">
        <div class="col-md-6">
          <div class="card">
            <img src="{{ stats['stats'][idx]['url'] }}" class="card-img-top" height="300px"> 
            <h2 class ="card-title">{{ stats['stats'][idx]['statname'] }}: {{ stats['stats'][idx]['percentage'] }}</h2>
            <div class="card-body"> 
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{ stats['stats'][idx]['percentage'] }};" 
                aria-valuenow="{{ stats['stats'][idx]['percentage'] }}" aria-valuemin="0" aria-valuemax="100"></div> 
              </div>
              {% for song_str in stats['stats'][idx]['strings'] %}
              <li>
                {{ song_str }}
              </li>
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="col-md-6">
          <div class="card">
            <img src="{{ stats['stats'][idx]['url'] }}" class="card-img-top" height="300px"> 
            <h2 class ="card-title">{{ stats['stats'][idx]['statname'] }}: {{ stats['stats'][idx]['percentage'] }}</h2>
            <div class="card-body"> 
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{ stats['stats'][idx]['percentage'] }};" aria-valuenow="{{ stats['stats'][idx]['percentage'] }}" aria-valuemin="0" aria-valuemax="100"></div> 
              </div>
              {% for song_str in stats['stats'][idx]['strings'] %}
              <li>
                {{ song_str }}
              </li>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
</body>
</html>